{%extends 'base.html'%}
{%block title%}
        list
{%endblock%}
{%block content%}
{{request.session.loginname}}

        <h1>
                <center>list</center>
        </h1>
        <table border="2" width="100%">
                <tr>

                        <td>ID</td>
                        <td>Name</td>
                        <td>Branch</td>
                        <td>Course_name</td>
                        <td>Course_id</td>
                        <td>delete</td>
                        <td>update</td>
                </tr>
                {%for t in trainees%}

                                <tr>

                                        <td>{{t.id}}</td>
                                        <td>{{t.name}}</td>
                                        <td>{{t.courses.name}}</td>
                                        <td>{{t.courses.id}}</td>
                                         <td> <a href=/trainee/delete/{{t.id}}>delete</a></td>
                                         <td><a href=/trainee/update/{{t.id}}>update</a></td>

                                </tr>
                 {%endfor%}
        </table>

{%endblock%}